#!/bash
NOW="$(date +'%Y-%m-%d_%H-%M-%S')"
MAX_BACKUP_DAYS=30

# Make MySQL Dump
BACKUP_DIR=~/backups/db/{{ db_name }}
mkdir -p $BACKUP_DIR
mysqldump -u{{ db_backup_user }} -p{{ db_backup_user_pass }} {{ db_name }} | gzip > $BACKUP_DIR/"$NOW"_{{ db_name }}.sql.gz

find $BACKUP_DIR/* -mtime +$MAX_BACKUP_DAYS -exec rm {} \;

ssh {{ backup_server_user }}@{{ backup_server_host }} "mkdir -p {{ backup_server_remote_path }}/databases/{{ db_name }}"
rsync -r -v --delete $BACKUP_DIR/ {{ backup_server_user }}@{{ backup_server_host }}:{{ backup_server_remote_path }}/databases/{{ db_name }}/
